/*=== Common CSS start Here ===*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

/*Padding CSS*/
.first-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}

.second-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.third-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fourth-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Button CSS */
.button {
  padding: 13px 28px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  min-width: 150px;
  text-align: center;
  color: white;
}

/* === Common CSS start Here ===*/