@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?ux975z");
  src: url("../font/icomoon.eot?ux975z#iefix") format("embedded-opentype"), url("../font/icomoon.woff2?ux975z") format("woff2"), url("../font/icomoon.ttf?ux975z") format("truetype"), url("../font/icomoon.woff?ux975z") format("woff"), url("../font/icomoon.svg?ux975z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bottle:before {
  content: "\e900"; }

.icon-calander:before {
  content: "\e901"; }

.icon-call:before {
  content: "\e902"; }

.icon-charger:before {
  content: "\e903"; }

.icon-clock:before {
  content: "\e904"; }

.icon-cross:before {
  content: "\e905"; }

.icon-firstaid:before {
  content: "\e906"; }

.icon-icon-download:before {
  content: "\e907";
  color: #4372b8; }

.icon-icon-minus:before {
  content: "\e908";
  color: #928f8f; }

.icon-info:before {
  content: "\e909"; }

.icon-left-arrow:before {
  content: "\e90a"; }

.icon-linkedin:before {
  content: "\e90b";
  color: #606161; }

.icon-location:before {
  content: "\e90c"; }

.icon-long-arrow:before {
  content: "\e90d"; }

.icon-luggage:before {
  content: "\e90e"; }

.icon-mail:before {
  content: "\e90f";
  color: #606161; }

.icon-mute:before {
  content: "\e910"; }

.icon-newspaper:before {
  content: "\e911"; }

.icon-notification:before {
  content: "\e912"; }

.icon-pause:before {
  content: "\e913"; }

.icon-play:before {
  content: "\e914"; }

.icon-plus:before {
  content: "\e915"; }

.icon-right-arrow:before {
  content: "\e916"; }

.icon-skype:before {
  content: "\e917";
  color: #606161; }

.icon-ss-airport:before {
  content: "\e918";
  color: #3a494e; }

.icon-tick:before {
  content: "\e919"; }

.icon-toilet:before {
  content: "\e91a"; }

.icon-top-arrow:before {
  content: "\e91b"; }

.icon-unmute:before {
  content: "\e91c"; }

.icon-user:before {
  content: "\e91d"; }

.icon-whatsapp:before {
  content: "\e91e";
  color: #606161; }

.icon-wifi:before {
  content: "\e91f"; }

/*=== Common CSS start Here ===*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

.heading-before {
  position: relative;
  text-transform: uppercase; }
  .heading-before::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 60%;
    top: 20%;
    left: 0;
    background-color: #0fc500; }

p {
  font-size: 20px; }

a {
  text-decoration: none; }

ul.ul-list {
  margin: 0;
  padding: 0; }
  ul.ul-list li {
    margin: 0;
    padding: 0;
    list-style: none; }

/*Padding CSS*/
.first-padding {
  padding-top: 70px;
  padding-bottom: 70px; }

.second-padding {
  padding-top: 60px;
  padding-bottom: 60px; }

.third-padding {
  padding-top: 50px;
  padding-bottom: 50px; }

.fourth-padding {
  padding-top: 40px;
  padding-bottom: 40px; }

/* Button CSS */
.button {
  padding: 13px 28px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  min-width: 150px;
  text-align: center;
  color: white;
  transition: 0.4s; }
  .button.primary-button {
    background-color: #0fc500;
    border: 2px solid #0fc500; }
    .button.primary-button:hover {
      background-color: white;
      color: #0fc500; }
  .button.secondary-button {
    background-color: #3479f2;
    border: 2px solid #3479f2; }
    .button.secondary-button:hover {
      background-color: white; }

/* === Common CSS start Here ===*/
header {
  padding: 15px 0;
  background-color: #181717; }
  header .menu-text ul.navigation-menu {
    text-align: right; }
    header .menu-text ul.navigation-menu li {
      display: inline-block;
      margin-left: 20px;
      vertical-align: middle; }
      header .menu-text ul.navigation-menu li:first-child {
        margin-left: 0; }
      header .menu-text ul.navigation-menu li a {
        text-decoration: none;
        color: white; }
        header .menu-text ul.navigation-menu li a.hamburger-menu {
          display: inline-block;
          width: 30px;
          height: 30px;
          text-align: left;
          position: relative;
          z-index: 9000;
          padding: 0;
          display: flex;
          align-items: center; }
          header .menu-text ul.navigation-menu li a.hamburger-menu span {
            width: 30px;
            height: 2px;
            background-color: #0fc500;
            transition: all 0.5s ease;
            display: inline-block;
            border-radius: 10px;
            position: relative; }
            header .menu-text ul.navigation-menu li a.hamburger-menu span:before {
              position: absolute;
              content: "";
              top: -7px;
              left: 0;
              width: 30px;
              height: 2px;
              background-color: #a4a3a3;
              transition: all 0.5s ease;
              display: inline-block;
              border-radius: 10px; }
            header .menu-text ul.navigation-menu li a.hamburger-menu span:after {
              position: absolute;
              content: "";
              top: 7px;
              left: 0;
              width: 30px;
              height: 2px;
              background-color: #3479f2;
              transition: all 0.5s ease;
              display: inline-block;
              border-radius: 10px; }
          header .menu-text ul.navigation-menu li a.hamburger-menu.close span {
            transform: rotate(45deg);
            background-color: white; }
            header .menu-text ul.navigation-menu li a.hamburger-menu.close span:before {
              display: none; }
            header .menu-text ul.navigation-menu li a.hamburger-menu.close span:after {
              top: 0;
              transform: rotate(-90deg);
              background-color: white; }
      header .menu-text ul.navigation-menu li ul#toggleMenuItem {
        position: fixed;
        background-color: #181717;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 500;
        padding-left: 200px;
        opacity: 0;
        display: none;
        visibility: hidden;
        transition: all 0.5s ease; }
        header .menu-text ul.navigation-menu li ul#toggleMenuItem li {
          display: block;
          text-align: left;
          margin-bottom: 30px; }
          header .menu-text ul.navigation-menu li ul#toggleMenuItem li a {
            display: inline-block;
            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
            color: #585858;
            transition: all 0.5s ease; }
            header .menu-text ul.navigation-menu li ul#toggleMenuItem li a:hover, header .menu-text ul.navigation-menu li ul#toggleMenuItem li a.active {
              font-weight: 700;
              font-size: 40px;
              color: #fff; }
              header .menu-text ul.navigation-menu li ul#toggleMenuItem li a:hover span.icon-long-arrow, header .menu-text ul.navigation-menu li ul#toggleMenuItem li a.active span.icon-long-arrow {
                display: inline-block;
                color: #3479f2;
                margin-left: 15px; }
            header .menu-text ul.navigation-menu li ul#toggleMenuItem li a:hover {
              font-weight: 500; }
            header .menu-text ul.navigation-menu li ul#toggleMenuItem li a span.number {
              font-size: 10px;
              margin-right: 10px;
              color: #585858; }
            header .menu-text ul.navigation-menu li ul#toggleMenuItem li a span.icon-long-arrow {
              display: none; }
          header .menu-text ul.navigation-menu li ul#toggleMenuItem li.mshow {
            display: none; }
          header .menu-text ul.navigation-menu li ul#toggleMenuItem li ul.bottom-menu {
            margin-top: 50px;
            width: 490px; }
            header .menu-text ul.navigation-menu li ul#toggleMenuItem li ul.bottom-menu li {
              display: inline-block;
              margin-left: 0;
              margin-right: 30px;
              margin-bottom: 10px; }
              header .menu-text ul.navigation-menu li ul#toggleMenuItem li ul.bottom-menu li a {
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffffe0; }
                header .menu-text ul.navigation-menu li ul#toggleMenuItem li ul.bottom-menu li a:hover {
                  color: #0fc500;
                  font-weight: 400; }
        header .menu-text ul.navigation-menu li ul#toggleMenuItem.show {
          display: block; }
        header .menu-text ul.navigation-menu li ul#toggleMenuItem.d_visible {
          opacity: 1;
          visibility: visible; }

/** == Banner Section CSS Start == **/
.banner-section {
  /* Booking Form Start */ }
  .banner-section .banner-slides .banner-bg {
    height: calc(100vh - 63px);
    background-size: cover;
    background-repeat: no-repeat; }
  .banner-section .form-container {
    margin-top: -100vh;
    display: flex;
    align-items: center;
    justify-content: end; }
    .banner-section .form-container .booking-form {
      width: 500px;
      padding: 30px;
      display: inline-block;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      z-index: 0; }
      .banner-section .form-container .booking-form .form-text h5 {
        color: white;
        padding-left: 20px; }
      .banner-section .form-container .booking-form .booking-navigation-tab {
        display: flex;
        align-items: center;
        margin: 25px 0; }
        .banner-section .form-container .booking-form .booking-navigation-tab .nav-tab-btn {
          background-color: #1c1c1c;
          padding: 10px;
          border-radius: 100px; }
          .banner-section .form-container .booking-form .booking-navigation-tab .nav-tab-btn a {
            height: unset;
            padding: 10px 10px;
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;
            border: 2px solid #0fc500;
            outline: none;
            min-width: 130px;
            min-height: 40px;
            max-height: 50px;
            text-align: center;
            background: #0e101c;
            color: white;
            transition: 0.4s; }
            .banner-section .form-container .booking-form .booking-navigation-tab .nav-tab-btn a:first-child {
              margin-right: 10px; }
            .banner-section .form-container .booking-form .booking-navigation-tab .nav-tab-btn a.active {
              border: none; }
        .banner-section .form-container .booking-form .booking-navigation-tab .car-info a {
          color: white;
          margin-left: 15px;
          transition: 0.4s; }
          .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information {
            display: none;
            background-color: white;
            padding: 20px;
            border-radius: 30px;
            position: absolute;
            z-index: 10;
            top: 20%;
            right: 200px; }
            .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information h3 {
              padding-left: 20px;
              color: black; }
            .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car {
              display: grid;
              grid-template-columns: repeat(5, 20%); }
              .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car {
                text-align: center; }
                .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .car-img {
                  padding: 0 20px;
                  position: relative; }
                  .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .car-img img {
                    width: 100%; }
                  .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .car-img::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    right: 0;
                    height: 100%;
                    background-color: #a4a3a3; }
                .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car h5 {
                  color: black; }
                .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility {
                  text-align: center; }
                  .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p {
                    color: black;
                    text-align: center;
                    margin: 0; }
                    .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p img {
                      width: 16px; }
                    .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p span {
                      font-size: 16px;
                      vertical-align: middle; }
                    .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p:first-child {
                      margin-right: 10px;
                      position: relative; }
                      .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p:first-child::after {
                        content: "";
                        width: 2px;
                        height: 16px;
                        background-color: #a4a3a3;
                        position: absolute;
                        top: 7px;
                        right: -8px; }
                    .banner-section .form-container .booking-form .booking-navigation-tab .car-info a .popup-information .all-car .single-car .facility p:last-child {
                      margin-right: 10px; }
          .banner-section .form-container .booking-form .booking-navigation-tab .car-info a:hover .popup-information {
            display: block; }
      .banner-section .form-container .booking-form .form-input form {
        display: flex;
        align-items: center;
        color: white; }
        .banner-section .form-container .booking-form .form-input form span.icon {
          position: absolute; }
        .banner-section .form-container .booking-form .form-input form input {
          padding: 8px 8px 8px 30px;
          width: 100%;
          background-color: transparent;
          border-radius: 0;
          border-bottom: 1px solid white;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          outline: 0;
          font-size: 14px;
          color: white; }
          .banner-section .form-container .booking-form .form-input form input::placeholder {
            text-transform: capitalize;
            color: white; }
          .banner-section .form-container .booking-form .form-input form input:focus {
            background-color: transparent; }

/** == Banner Section CSS End == **/

/*# sourceMappingURL=style.css.map */
