@mixin liftAnimation {
  &:before {
    @keyframes liftAnimate {
      0% {
        bottom: unset;
        top: 0;
      }

      25% {
        top: 30%;
      }

      50% {
        top: 30%;
      }

      75% {
        top: 80%;
      }

      90% {
        top: 80%;
      }

      100% {
        bottom: unset;
        top: 0;
      }
    }
    animation-name: liftAnimate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
